.divClass h1{
    color: red;
}

#thirdDiv ul li img {
    width: 400px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: whitesmoke;
    padding: 50px;
    border-color: red;
    border-style: double; 
    border-width: 2px;
}
.divClass #spanId{
    font-size: 18px;
    margin: 50px;
}
